{% include 'sitio/head.html' %}

    <div class="container">
      {%if status['tipo'] == 'Cliente'%}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Formulario de registro</h5>
                    <div class="card-body">
                      <form action="/sitio/guardarUsuario" method="post">
                        <div class="mb-3">
                          <label for="" class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nombre" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input type="email" class="form-control" name="correo" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Contraseña</label>
                          <input type="text" class="form-control" name="contraseña" placeholder="Contraseña" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Tipo</label>
                          <input type="text" class="form-control" name="tipo" value='Empleado' readonly>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                      </form>
                    </div>
                </div>
            </div>
            <!--==========!-->
            <div class="col-md-8">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">tipo</th>
                        <th scope="col">Acciones</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for usuario in usuarios %}
                      <tr>
                        <th scope="row">{{ usuario['idu'] }}</th>
                        <td>{{ usuario['nombre'] }}</th>
                        <td>{{ usuario['correo'] }}</td>
                        <td>{{ usuario['contraseña']}}</td>
                        <td>{{ usuario['tipo'] }}</td>
                        <td>
                          <a href= "/sitio/editarUsuario/{{ usuario['idu'] }}" class="btn btn-success">Editar </a>
                          <a href= "/sitio/borrarUsuario/{{ usuario['idu'] }}" class="btn btn-success">Borrar </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            </div>
        </div>
      {%else%}
        <h2>Codigo de organizacion: {{status['idOrga']}}</h2>
        <div class="col-md-8">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Correo</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for usuario in usuarios %}
                <tr>
                  <th scope="row">{{ usuario['idu'] }}</th>
                  <td>{{ usuario['nombre'] }}</th>
                  <td>{{ usuario['correo'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

        </div>
      {%endif%}
    </div>
    

{% include 'sitio/footer.html' %}