{% include 'sitio/head.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h5 class="card-header">Formulario de registro</h5>
                    <div class="card-body">
                      <form action="/sitio/guardarUsuario" method="post">
                        <div class="mb-3">
                          <label for="" class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nombre" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Correo</label>
                          <input type="email" class="form-control" name="correo" placeholder="Nombre del usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Contraseña</label>
                          <input type="text" class="form-control" name="contraseña" placeholder="Contraseña" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Tipo</label>
                          <input type="text" class="form-control" name="tipo" placeholder="tipo de usuario" required>
                        </div>
                        <div class="mb-3">
                          <label for="" class="form-label">Pedidos</label>
                          <input type="number" class="form-control" name="pedidos" placeholder="Numero de Pedidos del usuario" required>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                      </form>
                    </div>
                </div>
            </div>
            <!--==========!-->
            <div class="col-md-8">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">tipo</th>
                        <th scope="col">pedidos</th>
                        <th scope="col">Acciones</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for usuario in usuarios %}
                      <tr>
                        <th scope="row">{{ usuario['ID'] }}</th>
                        <td>{{ usuario['nombre'] }}</td>
                        <td>{{ usuario['correo'] }}</td>
                        <td>**********</td>
                        <td>{{ usuario['tipo'] }}</td>
                        <td>{{ usuario['pedidos'] }}</td>
                        <td>
                          <a href= "/sitio/editarUsuario/{{ usuario['ID'] }}" class="btn btn-success">Editar </a>
                          <a href= "/sitio/borrarUsuario/{{ usuario['ID'] }}" class="btn btn-success">Borrar </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            </div>
        </div>
        
    </div>
    

{% include 'sitio/footer.html' %}