{% include 'sitio/headIndex.html' %}

      <!-- Main Content -->
      <section class="main-content">
          <h2>¿Qué ofrecemos?</h2>
          <div class="d-flex flex-wrap justify-content-center">
              <div class="card">
                  <i class="fas fa-box"></i>
                  <h3>Control de Inventario</h3>
                  <p>Gestión rápida y precisa de tu inventario, con actualizaciones en tiempo real.</p>
              </div>
              <div class="card">
                  <i class="fas fa-chart-line"></i>
                  <h3>Reportes Analíticos</h3>
                  <p>Obtén informes detallados para tomar decisiones basadas en datos.</p>
              </div>
              <div class="card">
                  <i class="fas fa-users"></i>
                  <h3>Gestión de Usuarios</h3>
                  <p>Administra tu equipo y asigna roles para una gestión eficiente.</p>
              </div>
          </div>
      </section>

      <!-- CTA Section -->
      <section class="cta-section">
          <h2>¡Comienza a mejorar tu inventario hoy!</h2>
          <button onclick="location.href='/registrarUsuario'">Registrarse Ahora</button>
          <button onclick="location.href='/inicioSesion'">Iniciar Sesión</button>
      </section>
    

{% include 'sitio/footerIndex.html' %}